/*NORA CSS*/

button {
    padding: 15px;
    color: #00e0d0;
    border-color: #00e0d0;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
}


section {
    padding: 70px 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section * {
    text-align: center;
}


.dark-bg * {
    color: white;
}

.icon-button {
 max-width: 100px;
 padding: 20px;   
}

#story {
    flex-direction: row;
}

#video {
    background-image: url(img/design-assets/bgk-middle.png);
    min-height: 200px;
}

#team {
    background-image: url(img/design-assets/bgk-header.png);
    min-height: 400px;
}

.separator {
    padding-top: 1px;
}

/*Rick CSS*/

.footer-oben {
    display: flex;
    text-align: center;
    min-height: 654px;
    background-color: white;
    color: black;
}

.headline-formular {
    border: 2px solid green;
    height: 20px;
    text-align: center;
    font-size: large;
    font-weight: 700;
}

.formular {
    width: 50%;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

form {
    display: flex;
    align-self: center;
    flex-direction: column;
    border: 5px solid green;
    padding-top: 1em;
    width: 50%;
    height: 50%;
}

.clients {
    border: 2px solid green;
    width: 50%;
    padding-top: 1em;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.headline-logos {
    border: 2px solid green;
    height: 20px;
    display: flex;
    text-align: left;
    font-size: large;
    font-weight: 700;
}

.logos {
    border: 2px solid green;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 0.25fr);
    grid-template-rows: repeat(5, 1fr);
}

.img-logos {
    width: 100px;
    height: 50px;
    flex-basis: 15%;
    margin: 1em auto;
    border: 2px solid green;
}

footer {
    background-image: url(img/design-assets/bgk-footer.png);
    min-height: 400px;
    color: white;
}

.footer-unten {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.inline-block-footer {
    display: inline;
    text-align: top;
}

.terms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.socials {
    display: flex;
    flex-direction: row;
    height: 2em;
    width: 2em;
}

.end-line {
    display: flex;
}

.copyright {
    display: flex;
    justify-content: right;
}

/*Björn CSS*/

html, body{
    min-height: 100vh;
    height: auto;
    padding:0;
    margin:0;
    font-family: 'roboto';
}
.headercontent h1 {
    font-style: italic;
    font-family: roboto;
    font-size: 3rem;
}

.headercontent p, p {
    font-family: 'roboto';
    font-weight: 300;
    line-height: 1.9rem;
    font-size: 1.3rem;
}


.wrapper {
    display: flex;
    justify-content: center;
    line-height: 1.6rem;
}

.header  {
display: flex;
justify-content: center;
color: white;
background-image: url('./img/design-assets/bgk-header.png');
background-size: cover;
}

.headercontent {
    text-align: center;
    width: 55%;
    margin-top: 10rem;
    margin-bottom: 10rem;
}


.navwrapper {
    background-color: #2B2B4D;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 80px;
}

a {
    display: flex;
    gap: 0.5rem;
    text-decoration: none ;
}

span {
    align-self: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: #27A7B8;
    padding-left: 0.5rem;
}

ul {
    display: flex;
    gap: 2.7rem;
}

li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    align-self: center;
}

hr {
    width: 10%;
    background-color: #27A7B8;
    border: none;
    height: 2px;
    margin-bottom: 2rem;
}

img {
    align-self: center;
}

